

@if (field.Label != null && field.Label != "") {
    <span>@field.Label</span><br>
}
<MatDatePicker @bind-Value="field.Data" EnableTime="true" Enable24hours="true"></MatDatePicker>

@code {
    [CascadingParameter]
    Form form { get; set; }
    [CascadingParameter]
    FieldGroup group { get; set; }
    [CascadingParameter]
    DateField field { get; set; }
}